.projectContent{
	min-height:80vh;
	width: 80%;
	margin: 5% auto;
	/* border: 1px solid; */
	display: flex;
	flex:1;
	flex-direction: row;
	background-color: #f1f3f6;
}
	
.projetos {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
}
.projetos header{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
}
.projetos header .homeButton{
    font-size: 25px;
    align-self: center;
}
.projetos h1{
    padding: 20px;
}

.projetos .card{
    /* background: rgb(103, 172, 252); */
    background: none;
	border: none;
	border-radius: 9px;
	box-shadow: 
    inset 0 0 15px rgba(55, 84, 170,0),
    inset 0 0 20px rgba(255, 255, 255,0),
    7px 7px 15px rgba(55, 84, 170,.15),
    -7px -7px 20px rgba(255, 255, 255,1),
    inset 0px 0px 4px rgba(255, 255, 255,.2);
    transition: box-shadow 0.1s ease-in-out;
    display: flex;
    flex-direction: row;
    min-height: 120px;
    height: auto;
    width: 80%;
    margin: 15px auto;
    padding: 5px;
}

.card img{
    height: 100%;
    max-height: 100px;
    width: auto;
    margin: auto 10px;
}
.card .desc{
    width: 80%;
    height: 90%;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.card .desc h3{
    padding: 5px 10px;
 }

.link{
    position: relative;
    top: 15%;
    text-decoration: none;
}
.link_icon{
    position: relative;
    top: 2.5px;
    left: 5px;
}

@media  screen and (max-width: 768px) {
	.projectContent{
		height:auto;
		width: 100%;
		margin:0;
		flex-direction: column;
    }
    .projetos {
        width: 100%;
    }
    .projetos .card{
        width: 90%;
    }
}