@import url('https://rodcordeiro.github.io/shares/fonts/TheAbsolute/font.css');
#alert{
	color: black;
	background-color: white;
	border: 10px solid red;
	border-top-width: 25px;
	position: absolute;
	top: 5%;
	right: 5%;
	font-size: 2em;
	padding: 5px 10px;
	border-radius: 5px;
	font-family: 'The absolute', sans-serif;
}

.mainPage{
	height: 100vh;
}

.mainPage img{
	height:100px;
	width: auto;
}
@media  screen and (max-width: 768px) {
}
