@import url('https://rodcordeiro.github.io/shares/fonts/TheAbsolute/font.css');

.mainPage{
	display:grid;
	grid-template-columns: 200px auto;
	grid-template-rows: 100vh;
	grid-template-areas: 'HEADER CONTENT';

}

.header{
	grid-area: HEADER;
}

.main-content{
	grid-area: CONTENT;
}

@media  screen and (max-width: 768px) {
}
